
<nav class="py-1 bg-light border-bottom">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/astonMartinLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/williamsLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/mclarenLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/mercedesLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/alfaromeoLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/alpineLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/haasLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/ferrariLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/redbullLogo.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img class="lista-imagen" src="/assets/teamImgs/logo/alphatauriLogo.png" alt=""></a>
    </li>
  </ul>
</nav>


<header>
  <div class="logo">
    <h1>Logo</h1>
  </div>
  <div class="titulo">
    <h1>Título del sitio web</h1>
    <h2>Subtítulo del sitio web</h2>
  </div>
</header>
