<header style="background-color: red;font-family: FormulaRegularBold;color:black" class="d-flex flex-wrap justify-content-center py-3   border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img style="float: left;" height="60" width="70" class="img-fluid" src="/assets/img/f1_logo-white.svg" alt="">

    <!-- <span style="color: white;font-weight: bold" class="fs-4"><i>F1</i></span> -->
  </a>
  <ul class="nav nav-pills">
      <li class="nav-item"><a style="color: white;font-weight: bold" [routerLink]="'/'"  class="nav-link">Inicio</a></li>
      <li class="nav-item"><a style="color: white;font-weight: bold" [routerLink]="'/Drivers'" class="nav-link">Drivers</a></li>
      <li class="nav-item"><a style="color: white;font-weight: bold" [routerLink]="'/Teams'" class="nav-link">Teams</a></li>
      <!-- <li class="nav-item"><a style="color: white;font-weight: bold;" [routerLink]="'/Results'" href="#" class="nav-link">Carrera</a></li> -->
      <li class="nav-item"><a style="color: white;font-weight: bold;" [routerLink]="'/GrandPrix'" href="#" class="nav-link">Calendar</a></li>
      <li class="nav-item"><a style="color: white;font-weight: bold;" [routerLink]="'/login'" href="#" class="nav-link">Login</a></li>
  </ul>
</header>
<!-- <div *ngIf="loaderService.isLoading | async"  class="loader-container">
  <mat-progress-bar
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value"
  [bufferValue]="bufferValue"
  ></mat-progress-bar>
</div> -->

