<!DOCTYPE html>
<html lang="en">

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="formulario">
        <h3>Register Here</h3>

        <label for="email">Email</label>
        <input  formControlName="email"  type="email" placeholder="Email">

        <label for="name">Name</label>
        <input formControlName="name" type="name" placeholder="name"  >

        <label for="password">Password</label>
        <input formControlName="password" type="password" placeholder="Password"  >

        <!-- <div *ngIf="isInvalid">
          <p>La contraseña debe llevar un numero y un caracter especial</p>
        </div> -->

        <button (click)="register(this.formulario.value)"  style="color: black;">Log In</button>
    </form>

</body>
</html>
