<!--
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                  <i class="bi-bootstrap fs-1"></i>
              </a>
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                          <i class="bi-speedometer2 fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                          <i class="bi-table fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                          <i class="bi-heart fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          <i class="bi-people fs-1"></i>
                      </a>
                  </li>
              </ul>
              <div class="dropdown">
                  <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi-person-circle h2"></i>
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
          <main class="container">
            <div class="row">
              <div class="col">
                <div class="chart-container">
                  <canvas id="area-chart"></canvas>
                </div>
              </div>
              <div class="col">
                <div class="chart-container">
                  <canvas id="grafica2"></canvas>
                </div>
              </div>
            </div>



          </main>
      </div>
  </div>

</div>
 -->


 <body>

  <div class="app">
    <!-- <app-admin-cards></app-admin-cards> -->
    <header class="app-header">

      <div class="app-header-logo">
        <div class="logo">
          <span class="logo-icon">
            <img src="https://assets.codepen.io/285131/almeria-logo.svg" />
          </span>
          <h1 class="logo-title">
            <span>Checkered</span>
            <span>Flag</span>
          </h1>
        </div>
      </div>
      <div class="app-header-navigation">

        <div class="tabs">
          <a href="#">
            Overview
          </a>
          <a href="#" class="active">
            Payments
          </a>
          <a href="#">
            Cards
          </a>
          <a href="#">
            Account
          </a>
          <a href="#">
            System
          </a>
          <a href="#">
            Business
          </a>
        </div>
      </div>
      <div class="app-header-actions">
        <button class="user-profile">
          <!-- <span>{{director?.name}}</span> -->
          <span>
            <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
          </span>
        </button>
        <div class="app-header-actions-buttons">
          <button class="icon-button large">
            <i class="ph-magnifying-glass"></i>
          </button>
          <button class="icon-button large">
            <i class="ph-bell"></i>
          </button>
        </div>
      </div>
      <div class="app-header-mobile">
        <button class="icon-button large">
          <i class="ph-list"></i>
        </button>
      </div>

    </header>
    <div class="app-body">
      <div class="app-body-navigation">
        <nav class="navigation">
          <a href="#">
            <a routerLink="drivers">
              <i class="bi bi-person-vcard-fill"></i>
              <span>Drivers</span>
            </a>
          </a>
          <a routerLink="teams">
            <i class="bi bi-people-fill"></i>
            <span>Teams</span>
          </a>
          <a routerLink="charts">
            <i class="bi bi-reception-4"></i>
            <span>Charts</span>
          </a>
          <a routerLink="addResults">
            <i class="bi bi-tools"></i>
            <span>Results</span>
          </a>
          <!-- <a href="Qualy">
            <i class="bi bi-server"></i>
            <span>Results Management</span>
          </a> -->

            <a routerLink="races-management">
              <i class="bi bi-speedometer"></i>
              <span>Races Management</span>
            </a>

        </nav>
        <footer class="footer">
          <h1>Alen<small>©</small></h1>
          <div>
            ALEN TOKALIC©<br />
            All Rights Reserved 2023
          </div>
        </footer>
      </div>

      <div class="app-body-main-content">

        <section class="service-section">
          <h2>Service</h2>
          <div class="service-section-header">
                <div style="min-height: 500px;" class="container chart-container">
                  <canvas id="grafica2"></canvas>
                </div>
          </div>


        </section>
        <section>
          <h2>Area</h2>
          <div class="service-section-header">
                <div style="min-height: 500px;" class="container chart-container">
                  <canvas id="area-chart"></canvas>
                </div>
          </div>


        </section>

      </div>
      <div class="app-body-sidebar">
        <section class="payment-section">
          <h2>Equipos</h2>


          <div class="payment-section-footer">
            <section class="transfer-section">
          <div class="transfer-section-header">
            <h2>Latest Market Updates</h2>

          </div>

        </section>
          </div>
          <div class="service-section-header">
            <div style="min-height: 500px;" class="container chart-container">
              <canvas id="bar-chart"></canvas>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</body>
