<app-header></app-header>
    <div class="container">

      <h1 style="text-align: center;font-weight:bold">{{team?.name}} <span style="float: right;" class="flag-icon flag-icon-{{team?.flag}}"></span></h1>

      <div class="main-container">
          <div class="info-container">
            <h1 class="display-5 fw-bold">Información</h1>

            <p>Pais: {{team?.country}} </p>
            <p>Director: {{team?.director}}</p>
            <!-- <p>Puntos: {{team?.totalpoints}}</p> -->
            <p>Motor: {{team?.engine}}</p>

          </div>
          <div class="image-container">
               <img [src]="team?.shieldImage" class="img-fluid" alt="...">
          </div>
      </div>
      <br>
      <hr>
      <div class="row align-items-md-stretch">
        <h1>Pilotos</h1>
        <div *ngFor="let driver of drivers" class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>{{driver?.name}}</h2>

            <p>Nombre Completo: {{driver?.name}} {{driver?.lastname}} </p>
            <!-- <p>Wins: {{driver?.wins}}</p> -->
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>




      </div>

<br><br>



</div>






<!-- <app-footer></app-footer> -->
