
<app-admin-header></app-admin-header>
<main style="background-color:#192031;padding: 20px;color: lightgray;min-height: 100vh;">


  <div class="container">
    <h3>Races</h3>
    <div class="row mt-n5">
        <div [routerLink]="'/GrandPrix/'+grandprix.raceId" *ngFor="let grandprix of grandprixes" class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;cursor: pointer;">
            <div class="blog-grid">
                <div class="blog-grid-img position-relative"><img alt="img" src="{{grandprix.circuitImage}}"></div>
                <div class="blog-grid-text p-4">
                    <h3 class="h5 mb-3">{{grandprix.raceName}} | {{grandprix.sponsorName}}</h3>
                    <p class="display-30">{{grandprix.circuitName}}</p>
                    <div class="meta meta-style2">
                        <ul>
                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> {{grandprix.raceDate}}</a></li>
                            <li><a href="#!"><i class="fas fa-user"></i>Round {{grandprix.raceRound}}</a></li>
                            <li><a href="#!"><i class="fas fa-comments"></i>Laps {{grandprix.circuitLaps}}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</main>
