<app-admin-header></app-admin-header>





<!-- <div class="container">

  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="pilotForm">
      <form  [formGroup]="pilotForm">
        <ng-template matStepLabel>Fill out your name</ng-template>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="name" required>
        </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="First name" formControlName="lastname" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="age" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <button class="btn btn-warning"  onclick="document.getElementById('owrap').className='show'">
              Elige Foto
            </button>
            <input  onclick="document.getElementById('owrap').className='show'" matInput formControlName="imageDriver" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="number" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="team" required>
          </mat-form-field>
        </p>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="abilityForm">
      <form [formGroup]="abilityForm">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <h3>Rating
          <span *ngIf="overall >= 90">{{overall}} - <span style="color:green"> Master</span></span>
          <span *ngIf="overall >= 70 && overall < 90">{{overall}} - Good</span>
          <span *ngIf="overall >= 50 && overall < 70">{{overall}} - Average</span>
          <span *ngIf="overall <= 50">{{overall}} - Bad</span>
        </h3>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Adelantamiento</mat-label>
            <input matInput placeholder="First name" formControlName="overtaking" type="number" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>defending</mat-label>

            <input matInput placeholder="First name" formControlName="defending" type="number" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>tireManagement</mat-label>
            <input matInput placeholder="First name" formControlName="tireManagement" type="number" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>consistency</mat-label>
            <input matInput placeholder="First name" formControlName="consistency" type="number">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>experience</mat-label>
            <input matInput placeholder="First name" formControlName="experience" type="number" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>pace</mat-label>
            <input matInput placeholder="First name" formControlName="pace" type="number" required>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>



</div> -->






<main style="background-color:#192031;min-height: 100vh;padding: 20px;">

<div class="container" >
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img class="common" style="background-color: yellow;" width="60" height="70" [src]="imagenElegida ? imagenElegida : 'ruta/default.png'" [hidden]="!imagenElegida">
              </div>
              <h5 class="user-name">New User</h5>
              <button class="btn btn-warning"  onclick="document.getElementById('owrap').className='show'">
                Elige Foto
              </button>
              <!-- <button class="btn btn-warning"  onclick="document.getElementById('owrap').className='show'">
                Elige Foto
              </button> -->
              <!-- <h6 class="user-email">yuki@Maxwell.com</h6> -->
            </div>
            <div class="about">
              <h5>About</h5>
              <p>Menu de Creacion de pilotos</p>
              <p>Introduce los datos de tu piloto y elige un aspecto para el</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary">Personal Details</h6>
        </div>

</div></div>
<form [formGroup]="pilotForm" (ngSubmit)="submitForm()" style="padding: 20px;">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" formControlName="name" class="form-control" id="name" required>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input type="text" formControlName="lastname" class="form-control" id="lastname" required>
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="number" formControlName="age" class="form-control" id="age" required>
  </div>
  <!-- <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="text" formControlName="country" class="form-control" id="country">
  </div>
  <div class="mb-3">
    <label for="flag" class="form-label">Flag</label>
    <input type="text" formControlName="flag" class="form-control" id="flag">
  </div> -->
  <div class="mb-3">
    <label for="number" class="form-label">Number</label>
    <input type="number" formControlName="number" class="form-control" id="number" required>
  </div>

  <div class="mb-3">
    <small>Haz click en el boton amarillo</small><br>
    <label for="imageDriver" class="form-label">Añade tu Foto!</label>
    <input [readonly]="disabledInput" type="text" formControlName="imageDriver" class="form-control" id="imageDriver">
  </div>
 <!-- <label for="team" class="form-label">Team</label>
    <input type="number" formControlName="team" class="form-control" id="team" required> -->
  <!-- <div style="background-color: black;width: 100%;height: 40px;" class="mb-3">
    <ng-select class="select" [(ngModel)]="selectedTeam" formControlName="team">
      <ng-option *ngFor="let team of availableTeams" [value]="team.teamId"><img height="auto" width="auto" src="{{team.shieldImage}}" alt=""> {{team.name}}</ng-option>
    </ng-select>

  </div> -->

  <ng-select (change)="getTeam(director.leagueId,selectedTeam)" style="border: 2px solid black;" [items]="availableTeams" [(ngModel)]="selectedTeam" bindLabel="team" bindValue="teamId" formControlName="team">
    <ng-template  ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div style="margin: 10px 0;border: 2px solid #{{item.color}};" class="card mb-3">
          <div class="row g-0">
            <div style="background-image: url({{item.shieldImage}});background-position: center;background-repeat: no-repeat;background-size: contain" class="col-md-4">

            </div>
            <div class="col-md-8">
              <div style="background-color: #{{item.color}};" class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text"><img class="img-fluid rounded-start" height="100" width="120" src="{{item.vehicleImage}}" alt=""></p>
                <p class="card-text"><small class="text-muted">{{item.director}}</small></p>
              </div>
            </div>
          </div>
        </div>
    </ng-template>
  </ng-select>

  <div style="padding:10px;margin-top:10px;border: 2px solid #{{team?.color}};" [hidden]="!team">
    <small>{{team?.name}}</small>
    <h6>Equipo elegido</h6>
    <img width="220px" src="{{team?.shieldImage}}" alt="">
    <img width="auto" height="auto" src="{{team?.vehicleImage}}" alt="">
  </div>

  <!-- <br/>Selected car ID: {{selectedTeam | json}} -->
  <br>
  <hr>



  <button type="submit" [disabled]="pilotForm.invalid" class="btn btn-primary">Submit</button>
</form>

  </div>
</div>
</div>

 <!--Using items input-->

<!-- (B) TOGGLE BUTTON -->



<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
      <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        Level 1: .col-sm-9
        <div class="row">
          <div class="col-8 col-sm-6">
            Level 2: .col-8 .col-sm-6
          </div>
          <div class="col-4 col-sm-6">
            Level 2: .col-4 .col-sm-6
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->



<!-- (A) FULL SCREEN OVERLAY -->
<div id="owrap">
  <div style="background-color: black;overflow-y: scroll;" id="obox">

    <button class="btn btn-danger" onclick="document.getElementById('owrap').className=''">
     X
    </button>
    <!-- <div class="logo"></div> -->
    <div style="width: 100%;" class="wrapper">
      <h1 style="color: white;margin: auto;">F1 Drivers</h1>
      <!-- <h5 style="color: white;margin: auto;">Elige la foto de tu piloto</h5> -->
      <small style="color:lightgoldenrodyellow">Elige la foto de tu piloto</small>
      <div style="border: 2px solid black;" class="profile-wrap">
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/verstappen.png')"  style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/verstappen.png" alt="">
        </div>
        <div  style="width: auto;margin: 5px" class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/lando.png')"  style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/lando.png" alt="">
        </div>
        <div style="width: auto;margin: 5px" class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/sainz.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/sainz.png" alt="">
        </div>
        <div style="width: auto;margin: 5px" class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/vettel.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/vettel.png" alt="">
        </div>
        <div style="width: auto;margin: 5px" class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/bottas.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/bottas.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/alonso.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/alonso.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/gasly.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/gasly.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/magnussen.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/magnussen.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/stroll.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/stroll.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/ricciardo.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/ricciardo.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/perez.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/perez.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/raikkonen.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/raikkonen.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/zhou.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/zhou.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/russell.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/russell.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/charles.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/charles.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/hulkenberg.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/hulkenberg.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/mick.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/mick.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/latifi.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/latifi.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/ocon.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/ocon.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/sargeant.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/sargeant.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/tsunoda.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/tsunoda.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/devries.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/devries.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/albon.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/albon.png" alt="">
        </div>
        <div style="width: auto;margin: 5px"  class="profile common">
          <img onclick="document.getElementById('owrap').className=''" (click)="obtenerSrcImagen('/assets/driverImgs/piastri.png')" style="border-bottom: 2px solid black;" width="auto"  src="/assets/driverImgs/piastri.png" alt="">
        </div>
      </div>
    </div>



  </div>


</div>


</div>


</main>
