
<div class="main" style="background-image: url('/assets/img/alonso.png');background-repeat: no-repeat;background-size: cover;background-position: bottom;font-family: FormulaRegular;">
  <div class="text-center border-bottom panel">
          <div class="container">
            <div class="jumbotron">
              <pre>
                <h1>
                  <!-- {{grandPrix?.circuitCountry}} -->
                  2023
                </h1>

              </pre>

              <!-- <h1>{{circuit?.name}}</h1> -->
                <!-- <p class="parragraph" style="color: white;float:left;">Next Location | {{circuit?.country}} <span class="flag-icon flag-icon-{{grandPrix?.circuitFlag}}"></span> </p> -->
                <!-- <h6 style="font-size:25px" class="circuit"> Round {{grandPrix?.raceRound}}</h6> -->

                <!-- <h5 class="sponsor" style="background-color: rgba(60, 59, 59, 0.855);padding: 30px;"> <span style="font-size: 15px;color:black"> Sponsored By</span> {{grandPrix?.sponsorName}}</h5> -->
            </div>
          </div>
  </div>
</div>

<ul style="padding: 20px;border-bottom: 5px solid black;font-family: FormulaRegularBold;" class="nav justify-content-center bg-dark">
  <!-- <h2 style="color:white;">FORMULA 1 {{grandPrix?.raceYear}} {{grandPrix?.sponsorName}} {{grandPrix?.raceName}}</h2> -->
</ul>


