
<app-header-home></app-header-home>>

<!-- <div class="container col-xxl-8 px-4 py-5" style="background-image: url('/assets/img/alonso.png');">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/teamImgs/logo/example.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>

<div class="hero-container">
  <div class="text-container">
    <h1>Título del Héroe</h1>
    <p>Descripción del héroe</p>
  </div>
  <div class="image-container">
    <img src="/assets/img/alonso.png" alt="Descripción de la imagen">
  </div>
</div>


<div class="colorful-background">
  <div class="content-container">
    <h2>Título del componente</h2>
    <p>Descripción del componente</p>
  </div>
</div> -->
<!-- https://codemyui.com/tag/hero-section/page/6/ -->
<!-- https://codepen.io/chickennate/pen/NRwZow -->
<div class="slider__warpper">
  <div class="flex__container flex--pikachu flex--active" data-slide="1">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen I</p>
        <h1 class="text--big">Pikachu</h1>
        <p class="text--normal">Pikachu is an Electric-type Pokémon introduced in Generation I. Pikachu are small, chubby, and incredibly cute mouse-like Pokémon. They are almost completely covered by yellow fur.</p>
      </div>
      <p class="text__background">Pikachu</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="/assets/driverImgs/albon.png" />
  </div>
  <div class="flex__container flex--piplup animate--start" data-slide="2">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen IV</p>
        <h1 class="text--big">Piplup</h1>
        <p class="text--normal">Piplup is the Water-type Starter Pokémon of the Sinnoh region. It was introduced in Generation IV. Piplup has a strong sense of self-esteem. It seldom accepts food that people give because of its pride.</p>
      </div>
      <p class="text__background">Piplup</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="https://s4.postimg.org/sa9dl4825/pilup.png" />
  </div>
  <div class="flex__container flex--blaziken animate--start" data-slide="3">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen III</p>
        <h1 class="text--big">Blaziken</h1>
        <p class="text--normal">Blaziken is the Fire/Fighting-type Starter Pokémon of the Hoenn region, introduced in Generation III. Blaziken is a large, bipedal, humanoid bird-like Pokémon that resembles a rooster.</p>
      </div>
      <p class="text__background">Blaziken</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="https://s4.postimg.org/6795hnlql/blaziken.png" />
  </div>
  <div class="flex__container flex--dialga animate--start" data-slide="4">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen IV</p>
        <h1 class="text--big">Dialga</h1>
        <p class="text--normal">Dialga is a Steel/Dragon-type Legendary Pokémon. Dialga is a sauropod-like Pokémon. It is mainly blue with some gray, metallic portions, such as its chest plate, which has a diamond in the center. It also has various, light blue lines all over
          its body.</p>
      </div>
      <p class="text__background">Dialga</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="https://s4.postimg.org/43yq9zlxp/dialga.png" />
  </div>
  <div class="flex__container flex--zekrom animate--start" data-slide="5">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen V</p>
        <h1 class="text--big">Zekrom</h1>
        <p class="text--normal">Zekrom is a Dragon/Electric-type Legendary Pokémon. It is part of the Tao Trio, along with Reshiram and Kyurem. Zekrom is a large, black draconian Pokémon that seems to share its theme with its counterpart, Reshiram. It has piercing red eyes and
          dark gray to black skin that seems to be armor-like.</p>
      </div>
      <p class="text__background">Zekrom</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="https://s4.postimg.org/malmhgn9p/zekrom.png" />
  </div>
</div>

<div class="slider__navi">
  <a href="#" class="slide-nav active" data-slide="1">pikachu</a>
  <a href="#" class="slide-nav" data-slide="2">piplup</a>
  <a href="#" class="slide-nav" data-slide="3">blaziken</a>
  <a href="#" class="slide-nav" data-slide="4">dialga</a>
  <a href="#" class="slide-nav" data-slide="5">zekrom</a>
</div>
