.vertical-text {
  position: absolute;
  top: 40%;
  left: 3%;
  transform: translate(-40%, -40%) rotate(-90deg);
  color: gray;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing:10px;
    text-shadow: 2px 2px 4px goldenrod;
}
