<div style="background-color: rgba(33, 37, 41);color:white" class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>

  <nav style="border-right: 2px solid rgb(255, 204, 0);" id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Checkered Flag</a>

        <div id="close-sidebar">
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img style="background-color: white;padding: 5;" class="img-responsive img-rounded" src="/assets/driverImgs/hamilton.png"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{director?.name}}
            <strong>| Director</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <span>Online</span><i class="bi bi-circle-fill"></i>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="bi bi-speedometer"></i>
              <span>Dashboard</span>
              <!-- <span class="badge badge-pill badge-warning">New</span> -->
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="drivers">
              <i class="bi bi-person-vcard-fill"></i>

              <span>Drivers</span>
              <!-- <span class="badge badge-pill badge-danger">3</span> -->
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="teams">
              <i class="bi bi-people-fill"></i>
              <span>Teams</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="bi bi-reception-4"></i>
              <span>Charts</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="bi bi-calendar-week-fill"></i>
              <span>Season</span>
            </a>
          </li>
          <li class="header-menu">
            <span>Workspace</span>
          </li>
          <li>
            <a routerLink="races-management">
              <i class="bi bi-tools"></i>
              <span>Races Management</span>
            </a>
          </li>
          <li>
            <a routerLink="addRaces">
              <i class="bi bi-tools"></i>
              <span>Circuits Management</span>
            </a>
          </li>
          <li>
            <a href="Qualy">
              <i class="bi bi-server"></i>
              <span>Results Management</span>
            </a>
          </li>
          <li>
            <a routerLink="addResults">
              <i class="bi bi-wrench-adjustable-circle-fill"></i>
              <span>Results</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>


    <!-- sidebar-wrapper  -->
    <main style="background: #19001c;min-height: 110vh;" class="page-content">
      <div class="container-fluid">

        <h2>Welcome Back!   <strong style="color: rgb(146, 110, 19);">{{nombre}}</strong></h2>
        <hr>
        <app-admin-cards></app-admin-cards>
        <div class="row">



          <div class="jumbotron">
            <small>Informacion De Liga</small>
            <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
              <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">League {{ligaObj?.nombre}}</h1>
                <p class="lead my-3">{{ligaObj?.descripcion}}</p>
                <p>{{ligaObj?.ubicacion}}</p>

                <p class="lead mb-0"><a  [routerLink]="'/MyLeague'"  class="text-white fw-bold">Acceder...</a></p>
              </div>
            </div>
          </div>





<!--Lista pilotos-->
          <div class="container">
            <div class="row">
                <div class="col-xl-12 mb-3 mb-lg-5 ">
                    <div class="card">
                        <div class="d-flex card-header justify-content-between">
                            <h5 style="color:black" class="me-3 mb-0">Top Drivers</h5>

                            <a href="#!.html">View All</a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li [routerLink]="'drivers/'+driver.driverId" *ngFor="let driver of drivers" class="list-group-item pt-0" style="cursor:pointer;">

                                    <div  class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="{{driver.imageDriver}}" alt="" class="avatar rounded-circle" />
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">{{driver.name}}</h6>
                                            <p class="mb-0 text-muted">{{driver.country}}</p>
                                            <p><span class="fi fi-{{ driver.flag }}"></span></p>
                                        </div>

                                        <div  class="flex-shrink-0 text-end">
                                            <span style="margin-right: 15px;">{{driver.currentPrice}} </span>
                                              <div  [hidden]="driver.team !== 0" style="float: right;">
                                                  <i  alt="No tiene equipo" style="color:rgb(255, 145, 0)" class="bi bi-exclamation-triangle-fill"></i>
                                              </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>



        <!-- Añadir boton -->
        <!-- meter un modal -->

          <!-- <form [hidden]="ligaObj != null"  [formGroup]="taskForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" formControlName="nombre" required class="form-control" id="recipient-name">
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">descripcion</label>
              <textarea class="form-control" formControlName="descripcion" id="message-text"></textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Ubicacion</label>
              <textarea class="form-control" formControlName="ubicacion" id="message-text"></textarea>
            </div>
            <div class="mb-3">
              <label style="color:black" >id de piloto: </label>



              <input class="form-control" type="number" formControlName="directorId"><br><br>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">Crear Tarea</button>
            </div>
          </form> -->



        </div>
      </div>
    </main>
