
<app-admin-header></app-admin-header>


<main style="background-color:#192031;padding: 20px;color: gray;height: 100%;">
<div class="container">
  <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Project Teams</h4>
            <div>
              <button [routerLink]="'/admin/addTeam'"  style="text-align: right; margin: 20px;" class="add-button btn btn-success">Añadir equipo</button>
            </div>

          </div>

          <div class="card-body">

            <div class="media-list ">


              <div class="table-responsive" id="project-team-scroll" style="height: 400px;">
                <table class="table table-hover table-xl mb-0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Teams</th>
                      <th>Car</th>
                      <th>Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="cursor: pointer;" [routerLink]="'/admin/teams/'+team.teamId" *ngFor="let team of teams">
                      <td style="background-image: url({{team.shieldImage}});background-position: center;background-size: contain;background-repeat: no-repeat;background-color: #{{team.color}};" >
                        <!-- <img height="30" width="50" src="{{team.shieldImage}}" alt=""> -->
                      </td>
                      <td class="text-truncate">{{team.name}}</td>
                      <td class="text-truncate">
                        <img width="150" src="{{team.vehicleImage}}" alt="">
                      </td>
                      <td class="text-truncate">{{team.points}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
