
<app-admin-header></app-admin-header>


<div #miElemento class="prueba" style="background-color: lightgray;" >
  <div class="container">


  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">


    <div  [hidden]="team==null" class="col-10 col-sm-8 col-lg-6">
      <img src="{{team?.shieldImage}}" class="d-block mx-lg-auto img-fluid" width="350" height="240" >
    </div>
    <div  class="container col-lg-6">
        <h3>{{driver?.lastname}}</h3>
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{driver?.name}}</h1>

      <div class="container" style="margin: auto;" [hidden]="team!=null">

        <h6 style="float: left;">Equipos Disponibles:</h6>

        <div class="mt-3">
          <span *ngFor="let team of availableTeams" class="badge bg-{{team.color}} me-1"><img style="width: 70px;" src="{{team.shieldImage}}" alt=""></span>

        </div>
        <button (click)="updateDriver()" class="btn btn-success" >Click</button>
        <h4>Elige el equipo</h4>


        <form style="border: 2px solid black;" class="container">
        <ng-select [items]="availableTeams"
           [addTag]="addTagFn"
           bindLabel="name"
           (change)="onSelectionChange($event)"
          >
        </ng-select>

      </form>

      </div>

      <div class="container" [hidden]="stat!=null">
        <hr>
        <p class="lead"><i  alt="No tiene equipo" style="color:rgb(255, 145, 0)" class="bi bi-exclamation-triangle-fill"></i> El Piloto no tiene <strong>estadisticas</strong> cargadas</p>
        <form>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning" (click)="cargarEstadisticas()">Cargar Estadisticas</button>
            </div>
          </div>
        </form>
      </div>

      <div class="container" [hidden]="ability!=null">
        <hr>
        <p class="lead"><i  alt="No tiene equipo" style="color:rgb(255, 145, 0)" class="bi bi-exclamation-triangle-fill"></i> El Piloto no tiene <strong>habilidades</strong> cargadas</p>
        <form>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning"  (click)="cargarAbilities()"> Cargar Habilidades</button>
            </div>
          </div>
        </form>
      </div>

      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">{{ability?.defending}}</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">{{team?.name}}</button>
      </div> -->
    </div>
  </div>
</div>
</div>

<div class="container text-center">
  <div class="row">
    <div style="background-color: rgb(253, 243, 213);padding: 20px;" class=" col">
      <app-admin-radar-chart class="container" [abilityParameter]="driverId"></app-admin-radar-chart>

    </div>
    <div class="col-md-8">

      <div class="row justify-content-evenly">
        <div class="col">
          <caption> <span style="font-weight: bold;">OVERVIEW</span></caption>
          <table class="table table-dark table-striped-columns">
            <tbody>
              <tr>
                <td>Current Value</td>
                <td>{{driver?.currentPrice}}</td>
              </tr>
              <tr>
                <td>Season Start Price</td>
                <td>{{driver?.seasonStartPrice}}</td>
              </tr>
              <tr>
                <td>DNF Rate</td>
                <td>{{stat?.dnfs}}</td>
              </tr>
              <tr>
                <td>Week Change</td>
                <td>{{driver?.seasonChange}}</td>
              </tr>
              <tr>
                <td>Podium Rate</td>
                <td>{{stat?.beatTeamMateRate}} % </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <caption> <span style="font-weight: bold;">TOTALS</span></caption>
          <table class="table table-dark table-striped-columns">
            <tbody>
              <tr>
                <td>Points</td>
                <td>{{stat?.points}}</td>
              </tr>
              <tr>
                <td>Wins</td>
                <td>{{stat?.wins}}</td>
              </tr>
              <tr>
                <td>Poles</td>
                <td>{{stat?.poles}}</td>
              </tr>
              <tr>
                <td>Podiums</td>
                <td>{{stat?.podiums}}</td>
              </tr>
              <tr>
                <td>Highest Grid Pos</td>
                <td>{{stat?.highestGridPos}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="background-color: black;" class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
          <img class="mr-3" src="/assets/teamImgs/logo/astonMartinLogo.svg" alt="" width="48" height="48">
          <div class="lh-100">
            <small>Highest Scoring Track</small>
            <h2>BAHRAIN</h2>


          </div>
          <div style="display: inline-block;background-color: aliceblue;position: relative;right: 0;" class="rightside">
            <span class="fi fi-{{ driver?.flag }}"></span>
          </div>
        </div>

        <h1 style="text-align: left;">Compañero de Equipo</h1>
        <div class="col">
          <div style="height: auto;" class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4" style="background-image: url('{{driver?.imageDriver}}');background-repeat: no-repeat;background-size: contain;">
                <!-- <img src="/assets/driverImgs/alonso.png" alt="imagen del piloto" class="img-fluid"> -->
                <h1 style="text-align: right;">{{ability?.overall}}</h1>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: left;">{{driver?.name}} {{driver?.lastname}} <span class="fi fi-{{ driver?.flag }}"></span></h5>
                  <hr>
                  <p style="text-align: left;" class="card-text">{{team?.name}}</p>

                  <span></span>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <span style="font-weight: bold;">{{ability?.overtaking}}</span> ADE</li>
                        <li class="list-group-item"><span style="font-weight: bold;">{{ability?.defending}}</span> DEF</li>
                        <li class="list-group-item"><span style="font-weight: bold;">{{ability?.pace}}</span>PAC</li>
                      </ul>
                    </div>

                    <div class="col-sm-6">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span style="font-weight: bold;">{{ability?.tireManagement}}</span>TYR</li>
                        <li class="list-group-item"><span style="font-weight: bold;">{{ability?.consistency}}</span> CON</li>
                        <li class="list-group-item"><span style="font-weight: bold;">{{ability?.experience}}</span> EXP</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <h1 style="text-align: left;">Resultados de Carrera</h1>
      <table class="table">
        <thead>
          <tr >
            <th scope="col">Ronda</th>
            <th scope="col">Carrera</th>
            <th colspan="2">Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of raceResults">
            <th scope="row">{{item.raceRound}}</th>
            <td>{{item.raceName}}</td>
            <td>{{item.resultPoints}}</td>
            <td *ngIf="item.resultFastestLap=== true">
              <img width="25" src="/assets/stuff/fastest.png" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
  <div class="toast-header">
    <strong class="mr-auto">Mensaje</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Esto es un mensaje de Bootstrap Toast.
  </div>
</div>



<div class="container">
  <h2>Footer hermano</h2>
</div>

