<p>create-qualy works!</p>



<!-- <div class="container" *ngFor="let qualy of qualies">
  <p>{{qualy.fastestLap}}</p>
</div> -->


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let driver of drivers" cdkDrag>
    {{driver.name}}

    <div *cdkDragPreview>
      <h1>huevo</h1>
      <p>asd</p>
    </div>
    <!-- <img *cdkDragPreview [src]="driver.imageDriver" [alt]="driver.name"> -->
  </div>
</div>


<hr>
<!-- <h1>Puede venirse</h1> -->

<!-- Empieza a partir de aqui -->


<!--
<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="drivers"
      class="example-list"
      (cdkDropListDropped)="drop2($event)">
      <div class="example-box" *ngFor="let driver of drivers" cdkDrag>
        <img *cdkDragPreview [src]="driver.imageDriver" [alt]="driver.name">
        {{driver.name}}
      </div>

    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="driversFinishedQualy"
      class="example-list"
      (cdkDropListDropped)="drop2($event)">
      <div class="example-box" *ngFor="let driver of driversFinishedQualy" cdkDrag>{{driver.name}}</div>
    </div>
  </div>
</div>
-->








<!--

  Empieza a partir de aqui
 -->

<div cdkDropListGroup>
 <div class="row justify-content-md-center">
  <div class="col col-lg-2">
    <div class="example-container">
      <h2>Drivers</h2>

      <div
        cdkDropList
        [cdkDropListData]="drivers"
        class="example-list"
        (cdkDropListDropped)="drop2($event)">
        <div class="example-box" *ngFor="let driver of drivers" cdkDrag>
          <img *cdkDragPreview [src]="driver.imageDriver" [alt]="driver.name">
          {{driver.name}}{{driver.lastname}} <span>{{driver.number}}</span>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-auto">
    <div class="example-container">
      <h2>Qualifying Result <span style="float: right;"><input type="checkbox" [(ngModel)]="allMoved" />
      </span></h2>
      <div
        cdkDropList
        [cdkDropListData]="driversFinishedQualy"
        class="example-list"
        (cdkDropListDropped)="drop2($event)">
        <div class="example-box" *ngFor="let driver of driversFinishedQualy; let i = index" cdkDrag>{{i+1}} {{driver.name}} <div *ngIf="allMoved && i==0">
          <label for="texto">Tiempo </label>
          <input type="text" id="texto" (focus)="driver" [defaultValue]="'1:00:000'">
        </div></div>
      </div>
    </div>
  </div>
  <div class="col col-lg-2">

      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

  </div>
</div>
</div>
